<!DOCTYPE html>
<html>
<head>
  <title>Sakila App</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
  <%- include("../partials/_navbar") %>
  <main class="container">
    <%- body %>
  </main>
</body>
</html>

